node_modules
**/node_modules
dist
**/dist
web/dist

server/.donnees
sauvegardes

.git
.gitignore

**/.env
**/.env.local
**/.env.*.local
docker/.env
docker/.env.prod

*.log
npm-debug.log*

.vscode
.idea
.DS_Store
Thumbs.db
